*{
    margin: 50;
    background-color: skyblue;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26.4px;
    text-align: center
}
canvas {
    margin-left:auto;
    margin-right:auto;
    display: block;
}